/* style.css */
div {
  display: block;
}

body {
  background: rgb(245,245,245);
  color: #7d7d7d;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  margin: 0px auto;
  display: block;
  width: 500px;
}

h1 {
  color: #F96D00;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Bungee', cursive;
}

h2 {
  font-family: 'Bungee', cursive;
  color: #393E46;
  font-weight: lighter;
  font-size: 15px;
}

a {
  color: #F96D00;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}

td, th {
  display: table-cell;
  vertical-align: inherit;
}

table {
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  color: -internal-quirk-inherit;
  text-align: start;
  font-variant: normal;
}

li {
  display: list-item;
}

#img-profile {
    width: 100px;
    height: 100px;
    border: 2px solid #cccccc;
}

.text-center {
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.text-center h2 {
  font-size: 15px;
  font-weight: 300;
}

.text-center img {
  width: 40px;
  height: 40px;
}

.text-center p {
  color: grey;
}

.btn-orange a {
  background-color: #F96D00;
  color: white;
  font-weight: 700;
  padding: 8px;
  border-radius: 4px;
}

.btn-orange a:hover {
  color: white;
  background-color: grey;
}

.list-inline {
  padding-left: 0;
  font-size: 35px;
}

.list-inline li {
  display: inline-block;
  padding: 20px;
}

#movies {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.6em;
}

#movies img {
  height: 150px;
  width: 120px;
}

#movies td {
  padding: 10px;
}

#sidebar {
  background-color: #384047;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 120px;
  text-align: center;
}

#sidebar a {
  text-decoration: none;
  font-size: 25px;
  color: #788188;
}

#sidebar li {
  margin-top: 50px;
  margin-bottom: 50px;
}

#sidebar ul {
  list-style: none;
  padding-left: 0px;
}

#page-content {
  margin-left: 10px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

@media (max-width: 768px) {
  #sidebar {
    display: none;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  div {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  div {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  div {
    width: 300px;
  }
}
